<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Micro Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="javascript/main.js"></script>
</head>
<body>

    <nav>
        <a href='/'><button>HOME</button></a>
        <a href='/profile'><button>MY PROFILE</button></a>
        <a href='/registration'><button>SIGN UP</button></a>
        <form class='button' method="POST" action="/sign-out"><button>SIGN OUT</button></form>
        <a href='/view_user'><button>USERS</button></a>
    </nav>

    
    <div id='container'>
        <% user = current_user %>
        <% if user %>
            <p> <%= "#{user.username} Is Logged In" %> </p>
        <% else %>
            <p>No User Is Logged In</p>
        <% end %>

        <% if flash[:notice] %>
            <div class='flash notice'>
                <%= flash[:notice] %>
            </div>
        <%end%>

        <% if flash[:error] %>
            <div class='flash error'>
                <%= flash[:error] %>
            </div>
        <%end%>

        <% if flash[:success] %>
            <div class='flash success'>
                <%= flash[:success] %>
            </div>
        <%end%>

        <%= yield%>

    </div>

</body>
</html>