<% user = current_user %>

<p><a href='/edit_account'><button class='profile_button'>EDIT ACCOUNT</button></a></p>
<p><a href='/create_post'><button class='profile_button'>CREATE POST</button></a></p>


<p><%= user.username%></p>
<p><%= user.profile.fname%></p>
<p><%= user.profile.lname%></p>
<p><%= user.profile.email%></p>

<% user.posts.each do |post| %>
    <div class="post">
        <p><%= "Title: #{post.title}" %></p>
        <p><%= "Body: #{post.body}" %></p>
        <form class='center' method='POST' action="find-edit-post">
            <input type='hidden' id='hidden_post' name='hidden_post' value="<%= post.id %>">
            <button class='profile_button' type='submit'>EDIT POST</button>
        </form>
    </div>
<% end %>
