<% user = current_user %>

<p><a href='/edit_account'><button class='profile_button'>EDIT ACCOUNT</button></a></p>

<p><%= user.username%></p>
<p><%= user.profile.fname%></p>
<p><%= user.profile.lname%></p>
<p><%= user.profile.email%></p>

<% user.posts.each do |post| %>
    <p><%= "Title: #{post.title}" %></p>
    <p><%= "Body: #{post.body}" %></p>
    <form method= "POST" action= "/edit-post">
        <input type="Submit" id="edit-post" value="EDIT"/>    
    </form>

    <form method= "POST" action= "/delete-post">
        <input type="Submit" id="delete-post" value="DELETE"/>
    </form>
<% end %>


